{{addCss '/reports.css'}}

<p>Hello World!!</p>

<div class='container mx-auto mt-8 border-2 border-base-300 rounded'>
  <div class='report'>
    <div>
      <p>This is the reports page.</p>
    </div>
    <div>Hello world!!</div>
  </div>
</div>