DB_HOST=127.0.0.1
DB_USER=postgres
DB_PASSWORD_FILE=secrets/solidarian_password.txt
SESSION_SECRET_FILE=secrets/admin_session_secret.txt
DB_NAME=solidariandb
REDIS_URL=redis://127.0.0.1:6379
RABBITMQ_HOST=127.0.0.1
RABBITMQ_USER=user
RABBITMQ_PASSWORD_FILE=secrets/rabbitmq_password.txt
RABBITMQ_QUEUE=solidarianid
