DB_HOST=127.0.0.1
DB_USER=postgres
DB_PASSWORD_FILE=secrets/solidarian_password.txt
DB_NAME=solidariandb

RABBITMQ_HOST=127.0.0.1
RABBITMQ_USER=user
RABBITMQ_PASSWORD_FILE=secrets/rabbitmq_password.txt
RABBITMQ_QUEUE=solidarianid

REDIS_URL=redis://127.0.0.1:6379

SESSION_SECRET_FILE=secrets/admin_session_secret.txt
