DB_HOST=127.0.0.1
DB_USER=postgres
DB_PASSWORD_FILE=secrets/solidarian_password.txt
DB_NAME=solidariandb

NATS_URL=nats://127.0.0.1:4222

REDIS_URL=redis://127.0.0.1:6379
STRIPE_SK=not-valid

SESSION_SECRET_FILE=secrets/admin_session_secret.txt
