$spacer: 1rem
$temp-bg: #002028
$temp-font-color: #ede9e3
  
.report
  display: flex
  padding: $spacer
  gap: $spacer

  > div
    flex: 50%
    background-color: $temp-bg
    color: $temp-font-color
