<nav class='navbar w-full bg-base-300'>
  <label
    for='drawer-toggle'
    aria-label='abrir menú'
    class='btn btn-square btn-ghost'
  >
    <i class='fas fa-bars'></i>
  </label>
  <div class='px-4'>SolidarianID</div>
</nav>