<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <title>No encontrado - SolidarianID</title>

    <link rel='stylesheet' href='main.css' />
  </head>

  <body>
    <div class='hero bg-base-200 min-h-screen'>
      <div class='hero-content text-center'>
        <div class='max-w-md'>
          <h1 class='text-5xl font-bold'>Error 404</h1>
          <p class='py-6'>
            El recurso que buscas
            <b>no se ha encontrado</b>.
          </p>
          <a href='/' class='btn btn-primary'>Volver a inicio</a>
        </div>
      </div>
    </div>
  </body>
</html>